<ConnectionSettingCollection>
	<ConnectionSetting>
		<Name>QDSS_LOCAL</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=ORCL190;Persist Security Info=True;User ID=qdss666;Password=qdss_admin_666;Unicode=True</ConnectionString>
	</ConnectionSetting>
	<ConnectionSetting>
		<Name>SOUY319</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=souy319;Persist Security Info=True;User ID=rz;Password=rz;Unicode=True</ConnectionString>
	</ConnectionSetting>
	<ConnectionSetting>
		<Name>TreasureBowl</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=souy70;Persist Security Info=True;User ID=jbp;Password=jbp;Unicode=True</ConnectionString>
	</ConnectionSetting>
  <ConnectionSetting>
    <Name>localdb1</Name>
    <Provider>Oracle</Provider>
    <ConnectionString>Data Source=localdb;Persist Security Info=True;User ID=yxhv3;Password=yxhv3;Unicode=True</ConnectionString>
  </ConnectionSetting>
	<ConnectionSetting>
		<Name>TSQLSERVERMASTER</Name>
		<Provider>Mssql</Provider>
		<ConnectionString>Data Source=localhost\TSQLSERVERMASTER;Initial Catalog=winner;User Id=sa;Password=sa;</ConnectionString>
	</ConnectionSetting>
</ConnectionSettingCollection>