<ConnectionSettingCollection>
	<ConnectionSetting>
		<Name>SOUY70</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=souy70;Persist Security Info=True;User ID=souy;Password=souy;Unicode=True</ConnectionString>
	</ConnectionSetting>
	<ConnectionSetting>
		<Name>SOUY319</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=souy319;Persist Security Info=True;User ID=rz;Password=rz;Unicode=True</ConnectionString>
	</ConnectionSetting>
	<ConnectionSetting>
		<Name>TreasureBowl</Name>
		<Provider>Oracle</Provider>
		<ConnectionString>Data Source=souy70;Persist Security Info=True;User ID=jbp;Password=jbp;Unicode=True</ConnectionString>
	</ConnectionSetting>
</ConnectionSettingCollection>